/* add your CSS here */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 150px;
  border: 2px solid blue;
  border-radius: 30px;
}

.full-description {
  border: 500px soild blue;
  margin: 10px 5px 10px 5px;
  width: 300px;
  height: 50%;
  background: hsl(204, 100%, 95%);
  border: 2px solid blue;
  border-radius: 30px;
}

#interesting_fact {
  font-style: italic;
  color: rgb(26, 117, 255);
  text-align: center;
}

#container {
  background: url('https://images.unsplash.com/photo-1484503793037-5c9644d6a80a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8d2hpdGUlMjBvY2VhbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
  padding: 2px 16px;
  width: 313px;
  height: 705px;
  border: 5px solid rgb(65, 105, 225);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  float: center;
  margin: auto;
  border-radius: 30px;
}

.label {
  font-weight: bold;
}

ul {
  list-style-type: none;
  text-align: left;
}

h3 {
  border: 2px solid blue;
  text-align: center;
  padding: 1em;
  box-shadow: 5px 10px rgb(65, 105, 225);
  border-radius: 30px;
}

.penguin-info {
  color: rgb(26, 117, 255);
  padding: 1em;
  font-size: small;
}

.highlight-format {
  color: rgb(26, 117, 255);
  background: white;
}
